@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

@layer base {
  :root {
    --background: #f6f6f6;
    --foreground: #0b0a0a;

    --card: 0 0% 100%;
    --card-foreground: #0b0a0a;

    --popover: 0 0% 100%;
    --popover-foreground: #0b0a0a;

    --primary: #4D148C;
    --primary-foreground: #ffffff;

    --secondary: #B996E0;
    --secondary-foreground: #341954;

    --muted: #ffffff;
    --muted-foreground: #aba9a9;

    --accent: #ffffff;
    --accent-foreground: #0b0a0a;

    --destructive: #d04e41;
    --destructive-foreground: #ffffff;

    --dark-violet: #413B61;
    --border: #d2d2d2;
    --input: #d2d2d2;
    --ring: #0b0a0a;

    --radius: 0.5rem;
  }

  .dark {
    --background: #f6f6f6;
    --foreground: #0b0a0a;

    --card: 0 0% 100%;
    --card-foreground: #0b0a0a;

    --popover: 0 0% 100%;
    --popover-foreground: #0b0a0a;

    --primary: #7337ba;
    --primary-foreground: #ffffff;

    --secondary: #b996e0;
    --secondary-foreground: #341954;

    --muted: #ffffff;
    --muted-foreground: #0b0a0a;

    --accent: #ffffff;
    --accent-foreground: #0b0a0a;

    --destructive: #d04e41;
    --destructive-foreground: #ffffff;

    --border: #d2d2d2;
    --input: #ffffff;
    --ring: #0b0a0a;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
